.home {
  /*border: 1px solid red;*/
  padding: 0 12px;
}

.home__img-container {
  text-align: center;
  margin-top: 54px;
}

.home__img-container img {
  width: 44%;
  height: auto;
}
 
.home__container {
  text-align: center;
}

.all-set-title {
  font-size: 14px !important;
}

.home__left {
  margin-bottom: 60px;
}




/* home page settings missing */
.home-settings-missing-message {
  text-align: center;
}

.home-settings-missing-message__btn-container button {
  min-width: 250px;
  margin-top: 20px;
}