.settings {
    padding: 16px;
}

.settings__inputWrapper {
    margin-bottom: 20px;
}

.settings__inputWrapper:last-child {
    margin-top: 30px;
}


.settings__inputWrapper select {
    width: 280px;
}

.settings__inputWrapper input {
    width: 310px;
}